{{#if loggedIn}}
    <div class="greeting">
        <h2>Dashboard</h2>
        <p>Welcome back {{userName}}, see your previously made discussions below</p>
    </div>

    <div class="newPost">
        <h2>Create A New Blog Post</h2>
        <button>+</button>
    </div>

    {{#each blog}}
    <div class="blog_post">
        <div class="blog_header">
            <h3>{{this.title}}</h3>
            <h4>Posted at {{this.createdAt}}</h4>
        </div>
        <p>{{this.content}}</p>
    </div>
    {{/each}}
    {{else}}
    <div class="greeting">
        <h2>Dashboard</h2>
        <p>Please login or sign up to view your dashboard</p>
    </div>
{{/if}}