{{!-- {{#if loggedIn}}
    <div class="greeting">
        <h2>Welcome back {{userName}}!</h2>
        <p>Join the discussion below</p>
    </div>
    {{else}}
{{/if}} --}}
<header>
    <h1>The Ultimate Tech Blog</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
  </header>

{{#each blog}}
    <div class="blog_post">
        <div class="blog_header">
            <h3>{{this.title}}</h3>
            <h4>Posted at {{this.createdAt}}</h4>
        </div>
        <p>{{this.content}}</p>
    </div>
{{/each}}